/* Charlottes nya tema */

/* om single-post php går sönder så kör denna */

* {
  margin: 0;
  margin-top: -0.3rem;
  overflow: auto;
}

/* Inter */
@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Archivo */
@font-face {
  font-family: 'Archivo';
  src: url('assets/fonts/Archivo/Archivo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo';
  src: url('assets/fonts/Archivo_Black/ArchivoBlack-Regular.ttf')
    format('truetype');
  font-weight: 900;
  font-style: normal;
}
.hero-title {
  padding-top: 7rem !important;
  color: #fff;
  font-size: 7rem;
}
.hero-page-container h1 {
  color: #fff !important;
}
.hero-page-container {
  margin-top: 0;
}
h1 {
  color: rgb(29, 29, 29) !important;
  font-family: 'Archivo', sans-serif;
  font-weight: 900;
  padding-top: 2rem !important;
  font-size: 5rem;
}
h2 {
  margin-left: 3rem;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin: 1rem 0;
}
p {
  font-family: 'Inter', sans-serif;
  margin-left: 3rem;
}

.site-logo {
  width: 50px;
  margin-left: 2.7rem;
}

body {
  background: rgba(246, 246, 246, 0.899);
}

nav {
  background: #fff;
}

html {
  background: #fff;
}

a {
  font-family: 'Archivo', sans-serif;
  font-weight: 900;
}

/*  header */
.charlottes-header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  min-height: 80px;
  padding: 1.5rem 3rem;
}

.charlottes-header-menu a {
  text-decoration: none;
  color: rgb(29, 29, 29);
  font-size: 1.3rem;
}

.charlottes-header-menu a:hover {
  color: rgb(187, 0, 162);
}

.header-search-form {
  padding: 0 3rem 1rem;
  background-color: #fff; /* synlig nu */
}

.header-search-form button {
  padding: 0.2rem;
  margin: 0.2rem;
  font-family: 'Inter', sans-serif;
}

.charlottes-header-menu li {
  list-style: none;
}
.page-template-contact-form h2 {
  color: red;
}

/* SEARCH */
.search-container {
  padding-top: 2rem;
  margin-bottom: 4rem;
}
.search-container h1 {
  padding-bottom: 2rem;
}
.search-container h2,
.search-container p {
  background-color: #fff;
  padding: 2.2rem;
  margin-left: 0 !important;
}

.search-container p {
  margin-top: -0.5rem;
}
.search-content {
  height: 42vh;
  padding-bottom: 2rem;
}

/* widgets */
.footer-widget-area {
  font-family: 'Inter', sans-serif;
  background-color: #7d0057;
  color: #fff;
  padding-top: 3rem;
  font-size: 24px;
  height: 52vh;
  letter-spacing: 0.05rem;
}

.footer-widget-area {
  font-size: 24px;
}

.footer-widget-area img {
  height: 200px;
}

.wp-block-verse {
  color: #fff8d8;
  padding-top: 1rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
}

.footer-widget {
  margin: 0.3rem;
}

.footer-widget .wp-block-embed-spotify {
  height: auto;
  display: flex;
  align-items: center;
}
.wp-block-embed-spotify iframe {
  /* spotify grejen*/
  border-radius: 12px;
  width: 52vw;
  margin: 3rem;
}

/* Contact form*/
.contact-form {
  padding-top: 1rem;
}
label {
  /* "your name" */
  font-family: 'Archivo', sans-serif;
  padding-left: 1px;
  font-weight: 600;
  font-size: 1.2rem;
}

form {
  font-family: 'Inter', sans-serif;
  margin-top: 1rem;
  font-size: 1rem;
}

input {
  margin: 6px 0 15px 0;
  padding: 2px 5px;
  font-size: 16px;
  width: 400px;
  letter-spacing: 0.5px;
}

textarea {
  margin: 6px 0 15px 0;
  padding: 2px 5px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  width: 400px;
  letter-spacing: 0.6px;
}

.blog-post {
  background: #fff;
}

.my-content-wrapper {
  padding: 10px;
  margin-top: 1rem;
  margin-bottom: 4rem;
}
div h1 {
  margin-left: 3rem;
}

/* sidebar */
.sidebar {
  height: 49vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: #c700ac 3px solid;
  border-radius: 10px;
  width: 80vh;
}

/* ABOUT US PAGE */
.about-us-container {
  display: flex;
  gap: 20px;
  align-items: center;
  max-width: 95%;
  justify-content: center;
}

.about-us-content {
  display: flex;
  flex-direction: column;
  flex: 3;
}
.about-us-content h1 {
  margin-bottom: 0.8rem;
}

.about-us-container {
  display: flex;
  gap: 20px;
  align-items: center;
  max-width: 95%;
  height: 62vh;
}
.about-us-content p {
  letter-spacing: 0.03rem;
  width: 80%;
  line-height: 1.8rem;
  padding-bottom: 4rem;
}

.about-us-sidebar {
  flex: 1;
  padding-top: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about-us-sidebar ul.menu {
  list-style: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-us-sidebar h3 {
  font-family: 'Archivo', sans-serif;
  font-size: 2rem;
  margin-left: 1.4rem;
  padding-top: 1.5rem;
}
.about-us-sidebar ul.menu li a {
  display: block; /* gör att hela raden är klickbar */
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  color: #333;
  padding: 15px;
  background: #f2f2f2;
  border-radius: 4px;
  margin: 0.3rem;
}
.about-us-sidebar ul.menu li a:hover {
  background: #ff79d7;
}
