* {
  margin: 0;
  margin-top: -0.3rem;
  overflow: auto;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: 'Archivo', sans-serif;
  font-weight: 900;
  font-size: 5rem;
  padding-top: 9rem;
}
h2 {
  margin-left: 3rem;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin: 1rem 3rem;
}

.menu {
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
}

ul li {
  list-style: none;
}
